main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  background-color: #3faf82;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cross {
  cursor: pointer;
}
.cross-top,
.cross-middle,
.cross-bottom {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  transition: background-color 0.2s ease-in-out;
}
.cross-top {
  width: 90px;
  height: 10px;
  margin-bottom: 15px;
}
.cross-middle {
  width: 90px;
  height: 10px;
}
.cross-bottom {
  width: 90px;
  height: 10px;
  margin-top: 15px;
}

.cross-top {
  animation: animate-line1-rev 0.7s ease-in-out;
}
.cross-middle {
  animation: animate-line2-rev 0.2s ease-in-out;
}
.cross-bottom {
  animation: animate-line3-rev 0.7s ease-in-out;
}

.active .cross-top {
  animation: animate-line1 0.7s ease-in-out forwards;
}
.active .cross-middle {
  animation: animate-line2 0.2s ease-in-out forwards;
}
.active .cross-bottom {
  animation: animate-line3 0.7s ease-in-out forwards;
}

@keyframes animate-line1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(0, 22px, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, 22px, 0) rotate(45deg);
  }
}
@keyframes animate-line2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes animate-line3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(0, -22px, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, -27px, 0) rotate(135deg);
  }
}

@keyframes animate-line1-rev {
  0% {
    transform: translate3d(0, 22px, 0) rotate(45deg);
  }
  50% {
    transform: translate3d(0, 22px, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}
@keyframes animate-line2-rev {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes animate-line3-rev {
  0% {
    transform: translate3d(0, -22px, 0) rotate(135deg);
  }
  50% {
    transform: translate3d(0, -22px, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0);
  }
}
